<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
	<!-- External styling must use link to point to .css file-->
	<link rel="stylesheet" href="../static/styles/login.css">


</head>

<body>

	<h2>The select Element</h2>

	<p>The select element defines a drop-down list:</p>

	<form action="#">
		<label>Choose a car:</label>
		<select name="cars">
			<option value="volvo">Volvo</option>
			<option value="saab">Saab</option>
			<option value="fiat">Fiat</option>
			<option value="audi" selected>Audi</option>
		</select>

		<input type="submit">
	</form>



</body>

</html>