<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
	<link rel="stylesheet" href="../static/styles/logininterface.css">
</head>

<body>


		<div>
		<h1>User Login</h1>

			<form action="#">
				<input type="text" name="email" id="Email" placeholder="UserName" required />


				<br>

				<input type="password" name="password" id="password" placeholder="Enter Your Password" />


				<br>
				<button type="button">Login</button>
				


			</form>
		</div>


</body>

</html>