<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Creating a Navigation Bar</title>
      <link rel="stylesheet" href="../static/styles/navigationbarpractice.css">
   </head>
   <body>
      <ul>
         <li><a class="active" href="#home">Home</a></li>
         <li><a href="#news">News</a></li>
         <li><a href="#contact">Contact</a></li>
         <li><a href="#contact">Newsletter</a></li>
         <li style="float:right"><a href="#about">Log In</a></li>
          	<img src="./resources/images/fingerpointright.png" alt="Login Icon"/> //fix this
      </ul>
   </body>
</html>
