<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>

<body>
	<h1>Register Page</h1>

	<form action="#">
		<label for="firstname">First Name
			<input type="text" name="firstname" id="firstname" placeholder="Enter Your First Name" required />
		</label>

		<br>
		<label for="lastname">Last Name
			<input type="text" name="lastname" id="lastname" placeholder="Enter Your Last Name" />
		</label>

		<br>
		<label for="email">Email
			<input type="text" name="email" id="Email" placeholder="Enter Your Email" required />
		</label>

		<br>
		<label for="password">Password
			<input type="password" name="password" id="password" placeholder="Enter Your Password" />
		</label>

		<br>
		<label for="password">Confirm Password
			<input type="password" name="password" id="password" placeholder="Confirm Your Password" />
		</label>

		<br>
		<label for="radio">Gender
			<input type="radio" name="radio" id="radio" value="Female">
			<label for="radio">Female</label>
			<input type="radio" name="radio" id="radio" value="Male">
			<label for="radio">Male</label>
		</label>

		<br>
		<label for="date">Date of Birth
			<input type="date" name="Date of Birth" id="Date_of_Birth" placeholder="mm/dd/yyy" />
		</label>

		<br>
		<label for="checkbox">Habits

			<input type="checkbox" name="checkbox" id="checkbox" />
			<label for="checkbox">You like sports</label>
		</label>

		<input type="checkbox" name="checkbox2" id="checkbox2" />
		<label for="checkbox">You like to eat</label>
		</label>

		<input type="checkbox" name="checkbox3" id="checkbox3" />
		<label for="checkbox">You like to sleep</label>
		</label>

		<br>
		<button type="button">Register</button>






</body>

</html>