<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script type="text/javascript" src="../static/javascripts/activities.js"> </script>
</head>
<body>
	
	 <h1>Activity Practice</h1>
    
    <p id="demo0"></p>
    <p id="demo1"></p>
    <p id="demo2"></p>
    <p id="demo3"></p>
    <p id="demo4"></p>
    <p id="demo5"></p>
    
    <p>Click the following button to see the function in Action</p>
    <input type="button" onclick = "isDivisibleBy4And6()" value = "Display">

</body>
</html>